body {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/c1/fc/9d/c1fc9d7f6ae08d56f2b84e81799790a5.gif');
  background-size: cover;

  
    color: white;
  

}

nav {
  display: flex;
  gap: 20px;
  background-color: rgba(47, 217, 255, 0.555);
  width: 100%;
  position: relative;
  
}

