body {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

nav {
  display: flex;
  gap: 20px;
  background-color: rgba(47, 217, 255, 0.555);
  width: 100%;
  position: relative;
  
}
